**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/*.user
**/node_modules
**/logs
**/storage
**/.env
**/docker-compose.yml
**/docker-compose.*.yml
**/Dockerfile
**/.dockerignore
**/README.md
**/*.md

